@charset "UTF-8"



html, body {

}
header {
      background-color: black;
      color: white;
      text-align: center;

}
header > h1 {
    padding-top: 50pxpx;
    font-variant: small-caps;
    font-size: 10vw;
}
header > p {
    padding-bottom: 50px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2;
    padding-left: 30px;
    font-family: 'maxim';
    font-size: 3.5vw;
}
section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    background-color: rgb(20, 20, 20);
    color: white;
    background-attachment: fixed;
}
section > p {
      padding-bottom: 2em;
}
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.705);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.479);
}
section#img01 {
         background-image: url(../imagens/background001.jpg);
         background-position: right center;
         background-size: cover;

}
section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
}
footer {
    background-color: black;
    text-align: center;
    color: white;
    padding-bottom: 10px;
}